[submodule ".agents/marketingskills"]
	path = .agents/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
[submodule ".agents/awesome-gpt-image-2"]
	path = .agents/awesome-gpt-image-2
	url = https://github.com/freestylefly/awesome-gpt-image-2.git
